<%-
disconnect_label = content_tag(:i, "", { class: 'fa fa-check' }) + h(" ") +
  content_tag(:span, t('.disconnect_rental'))
-%>
<div
  class="panel panel-connected <%= "pending" unless remote_rental.synchronized? %>"
  id="<%= dom_id rental %>">
  <% if rental.remote_rental.synchronized? %>
    <div class="panel-body-grid">
      <div class="panel-body-grid-photo">
        <%- if rental.ordered_photos.first -%>
          <%= image_tag rental.ordered_photos.first.thumb_url, class: "img-responsive" %>
        <%- end -%>
      </div>
      <div class="panel-body-grid-text">
        <h4 title="<%= RemoteRental.human_attribute_name(:uid) %>
          <%= remote_rental.uid %>"><%= remote_rental.name %></h4>
        <%= link_to disconnect_label,
          bookingsync_portal.disconnect_admin_rental_path(rental),
          class: "btn btn-default btn-xs btn-success remove-connection",
          data: { disable_with: t('.disconnecting_rental') },
          method: :put %>
        <p class="text-overflow"><%= rental_details(rental) %></p>
      </div>
    </div>
  <% else %>
    <div class="panel-body"><%= icon('spinner fa-spin', t('.synchronizing')) %></div>
  <% end %>
</div>
