<%- if available_listings_count == 0 -%>
  <div class="lead text-center well">
    <p><%= t('.no_published_rentals_html', id: current_account.synced_id) %></p>
  </div>
<%- elsif core_listings.count > 0 -%>
  <% core_listings.each do |core_listing| %>
    <%= render "core_listing", core_listing: core_listing %>
  <% end %>
<%- elsif params[:controller] == "bookingsync_portal/admin/connections" && (search_by_core_listings? || search_by_channel_listings?) %>
  <div class="lead text-center well">
    <p class=""><%= icon 'search fa-lg' %></p>
    <p><%=t '.no_results' %></p>
  </div>
<%- else -%>
  <div class="lead text-center well">
    <p class=""><%= icon 'thumbs-up fa-lg' %></p>
    <p><%=t '.all_synchronized' %></p>
  </div>
<%- end -%>
