<div class="panel panel-remote not-connected-remote-rental" id="<%= dom_id remote_rental %>"
  data-uid="<%= remote_rental.uid %>">
  <div class="panel-heading" title="<%= RemoteRental.human_attribute_name(:uid) %>
    <%= remote_rental.uid %>">
    <%= remote_rental.remote_account.uid %>:
    <%= remote_rental.name %>
  </div>
  <div class="panel-body">
  </div>
</div>
