<%- content_for :navbar_right do -%>
  <ul class="nav navbar-nav">
    <li><%= link_to icon("far", "life-ring", t('.help')), admin_help_path %></li>
  </ul>
<%- end -%>
<div class="rentals-container row">
  <div class="col-xs-6">
    <div class="bookingsync-rentals-list rentals-list">
      <div class="rentals-list-header">
        <legend class="text-center"><%= image_tag('bookingsync_portal/bookingsync.png', alt: 'BookingSync') %></legend>
      </div>
      <div class="rentals-list-scroll">
        <%= render "rentals", visible_rentals: @visible_rentals,
          not_connected_rentals: @not_connected_rentals %>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="remote-rentals-list rentals-list"
      data-connect-url="<%= BookingsyncPortal::Engine.routes.url_helpers.admin_connections_path %>">
      <div class="rentals-list-header">
        <legend class="text-center">
          <%= image_tag("#{BookingsyncPortal.portal_name.parameterize}.png",
            alt: BookingsyncPortal.portal_name) %>
        </legend>
      </div>

      <div class="rentals-list-scroll">
        <% @remote_accounts.each do |remote_account| %>
          <h3><%=t '.remote_header', portal_name: BookingsyncPortal.portal_name,
            account_name: remote_account.name %></h3>
          <%- if Array(@remote_rentals_by_account[remote_account]).length > 0 -%>
            <% Array(@remote_rentals_by_account[remote_account]).each do |remote_rental| %>
              <% if remote_rental.connected? %>
                <%= render "connected_rental", remote_rental: remote_rental, rental: remote_rental.rental %>
              <% else %>
                <%= render "remote_rental", remote_rental: remote_rental %>
              <% end %>
            <% end %>
          <%- elsif !BookingsyncPortal.create_remote_rental -%>
            <div class="lead text-center well">
              <p class=""><%= icon "far", "info fa-lg" %></p>
              <p><%=t '.create_listings_first', portal_name: BookingsyncPortal.portal_name %></p>
            </div>
          <%- end -%>
          <%- if BookingsyncPortal.create_remote_rental -%>
            <%= render "new_remote_rental", remote_account: remote_account %>
          <%- end -%>
        <% end %>
      </div>
      <div class="rentals-list-footer text-center">
        <%= render partial: 'new_remote_account' %>
      </div>
    </div>
  </div>
</div>
