<%- content_for :navbar_right do -%>
  <ul class="nav navbar-nav">
    <li><%= link_to icon("life-ring", t('.help')), admin_help_path %></li>
  </ul>
<%- end -%>
<div class="rentals-container row">
  <div class="col-xs-6">
    <div class="bookingsync-rentals-list rentals-list">
      <div class="rentals-list-header">
        <legend class="text-center"><%= image_tag('bookingsync_portal/bookingsync.png', alt: 'BookingSync') %></legend>
      </div>
      <div class="rentals-list-scroll">
        <%= render "core_listings",
          available_listings_count: @available_listings_count,
          core_listings: @core_listings
        %>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="remote-rentals-list rentals-list"
      data-connect-url="<%= BookingsyncPortal::Engine.routes.url_helpers.admin_connections_path %>">
      <div class="rentals-list-header">
        <legend class="text-center">
          <%= image_tag("#{BookingsyncPortal.portal_name.parameterize}.png",
            alt: BookingsyncPortal.portal_name) %>
        </legend>
      </div>

      <div class="rentals-list-scroll">
        <% @channel_listing_sections.each do |channel_listing_section| %>
          <h3><%=t '.remote_header', portal_name: BookingsyncPortal.portal_name,
            account_name: channel_listing_section.name %></h3>
          <%- if Array(@channel_listings_by_section[channel_listing_section]).length > 0 -%>
            <% Array(@channel_listings_by_section[channel_listing_section]).each do |channel_listing| %>
              <% if channel_listing.connected? %>
                <%= render "connected_channel_listing", channel_listing: channel_listing, core_listing: channel_listing.rental %>
              <% else %>
                <%= render "channel_listing", channel_listing: channel_listing %>
              <% end %>
            <% end %>
          <%- elsif !BookingsyncPortal.create_remote_rental -%>
            <div class="lead text-center well">
              <p class=""><%= icon 'info fa-lg' %></p>
              <p><%=t '.create_listings_first', portal_name: BookingsyncPortal.portal_name %></p>
            </div>
          <%- end -%>
          <%- if BookingsyncPortal.create_remote_rental -%>
            <%= render "new_channel_listing", channel_listing_section: channel_listing_section %>
          <%- end -%>
        <% end %>
      </div>
      <div class="rentals-list-footer text-center">
        <%= render partial: 'new_channel_listing_section' %>
      </div>
    </div>
  </div>
</div>
