<h2><%=t '.publish_rentals.title' %></h2>
<p><%=t '.publish_rentals.description_html' %></p>
<h2><%=t '.connect.title' %></h2>
<p><%=t '.connect.description_html' %></p>
<%= image_tag 'bookingsync_portal/help/connect.gif', class: "img-responsive" %>
