<!DOCTYPE html>
<html>
<head>
  <title>BookingSync - HolidayLettings integration</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-messagebus-channel="<%= messagebus_channel %>">
<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
